# Ejercicio 1: Transformar cadenas

In [18]:
# Dividir el texto en oraciones
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
texto_dividido = text.split('. ')
texto_dividido

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [32]:
# Palabras clave
palabras_clave = ["average", "temperature", "distance"]

True

In [36]:
for oración in texto_dividido:
    for palabra in palabras_clave:
        if palabra in oración:
            print(oración + '\n')
            break

On average, the Moon moves 4cm away from the Earth every year

The highest daylight temperature of the Moon is 127 C.

In [40]:
for oración in texto_dividido:
    for palabra in palabras_clave:
        if palabra in oración:
                
            print(oración.replace('C', "Celsius") + '\n')
            break

On average, the Moon moves 4cm away from the Earth every year

The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2: Formateando cadenas

In [41]:
# Datos
nombre = "Luna"
gravedad = 0.00162 # in kms
planeta = "Earth"

In [42]:
titulo = f"Datos sobre la gravedad de {nombre}."

In [47]:
datos = f"""Nombre del planeta: {planeta}.
Gravedad en {nombre}: {gravedad * 1000} m/s2."""

In [49]:
plantilla = f"""
{titulo}
-----------------------------------------
{datos}"""

In [50]:
print(plantilla)

Datos sobre la gravedad de Luna.
-----------------------------------------
Nombre del planeta: Earth.
Gravedad en Luna: 1.6199999999999999 m/s2.

In [55]:
nombre = "Ganímides"
gravedad = 0.00143 # in kms
planeta = "Marte"
print(plantilla.format(nombre = nombre, gravedad = gravedad, planeta = planeta))

Datos sobre la gravedad de Ganímides.
-----------------------------------------
Nombre del planeta: Marte.
Gravedad en Ganímides: 1.4300000000000002 m/s2.

In [56]:
print(plantilla.format(nombre = nombre, gravedad = gravedad, planeta = planeta))

Datos sobre la gravedad de Ganímides.
-----------------------------------------
Nombre del planeta: Marte.
Gravedad en Ganímides: 1.4300000000000002 m/s2.